[build]
  command = "go build -o dist/main ./cmd"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/css/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"

[[headers]]
  for = "/homepage/*"
    [headers.values]
    Content-Type = "text/html; charset=utf-8"
