body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

 /* Header Styles */
header {
background-color: #f1f1f1;
padding: 10px;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-weight: bold;
font-size: 20px;
}

.nav-links {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

.nav-links li {
margin-left: 10px;
}

.nav-links li a {
text-decoration: none;
color: #000;
}

.nav-links li a:hover {
text-decoration: underline;
}

.nav-links li:last-child {
margin-left: 20px;
}

/* Float the navigation to the right */
.nav-links {
margin-left: auto;
}
  h1 {
    text-align: center;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-top: 20px;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-top: 5px;
  }

  textarea {
    height: 100px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }